@page
@model sisnet.Pages.IndexModel
@{
    ViewData["Title"] = "SISNET";
}

<div class="search-page-container">
    <div class="search-bar-container">
        <span class="sisnet">
            <span class="sisnet-icon"></span>
            SISNET
        </span>
        <h1>Hear it. Love it. Find it fast.</h1>
        <div class="search-input-container">
            <span class="search-icon"></span>
            <input type="text" id="searchBox" class="search-box" placeholder="Track name, artist name..." oninput="searchSongs(1)" />
        </div>
    </div>
    <div id="results-container" class="results-container">
        <div class="filters">
            <div class="responsive-filter">
                <div class="song-number-filter">
                    <label class="label" for="pageSize">Songs per page:</label>
                    <select class="songs-per-page" id="pageSize" onchange="searchSongs(1)">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="release-date">
                    <span class="label">Release year:</span>
                    <div class="release-range">
                        <input type="text" id="startYear" placeholder="e.g., 2010" maxlength="4" oninput="searchSongs(1)" onkeypress="return isNumberKey(event)" />
                        <label class="label mid-label" for="endYear"> to </label>
                        <input type="text" id="endYear" placeholder="e.g., 2012" maxlength="4" oninput="searchSongs(1)" onkeypress="return isNumberKey(event)" />
                    </div>
                </div>
            </div>
            <div class="genre-filter">
                <label class="label" for="genreSelect">Genres:</label>
                <div class="genre-options" id="genreOptions">
                </div>
            </div>
        </div>
        <div class="search-results">
            <ul id="results"></ul>
            <div id="noResultsMessage" style="display: none;">No songs match the search criteria.</div>
            <div class="pagination-controls">
                <button id="prevPage" onclick="changePage(-1)">Previous</button>
                <button id="nextPage" onclick="changePage(1)">Next</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
